body {
  background-image: url("background.png");
  background-size: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.quiz-container {
  margin: auto;
  padding-top: 5%;
  width: 464px;
}
.quiz-title {
  font-weight: 700;
  color: white;
  font-size: 36px;
  line-height: 56px;
}
.quiz-icon {
  width: 162px;
  height: 116px;
  z-index: 1;
}
.quiz-header {
  display: flex;
  justify-content: space-between;
}
.quiz-content {
  background: white;
  position: relative;
  bottom: 26px;
  padding: 50px 32px;
  background: #ffffff;
  border-radius: 24px;
  min-height: 464px;
}
.quiz-question {
  color: #2f527b;
  font-weight: 700;
  font-size: 24px;
}
.answers {
  margin-top: 32px;
}
.quiz-answer {
  width: 400px;
  height: 56px;
  background: #ffffff;
  border: 3px solid rgba(96, 102, 208, 0.7);
  border-radius: 12px;
  border-radius: 12px;
  margin: 15px auto;
  line-height: 56px;
  color: rgba(96, 102, 208, 0.8);
  display: flex;
}
.quiz-answer:hover {
  color: white;
  background: #f9a826;
  border: 3px solid #f9a826;
  cursor: pointer;
}
.wrong {
  background: #ea8282;
}
.correct {
  background: #60bf88;
}
.quiz-letter {
  font-size: 24px;
  font-weight: 500;
  margin: 0 47px 0 19px;
}
.next-btn {
  width: 116px;
  height: 56px;
  background: #f9a826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  line-height: 56px;
  text-align: center;
  color: white;
  font-weight: 700;
  margin-left: auto;
  display: none;
  cursor: pointer;
}
.show-btn {
  display: block;
}
.question-image {
  width: 84px;
  height: 54px;
}
