* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  padding: 30px 94px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.search-bar {
  display: flex;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: 55px;
}
.wind-logo {
  height: 20px;
}
.search-item {
  padding: 15px;
}
.search-item:hover {
  cursor: pointer;
}
.right-border {
  border-right: 1px solid #f2f2f2;
}
.search-icon {
  color: #eb5757;
}
