* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  padding: 30px 94px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.search-bar {
  display: flex;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: 55px;
}
.wind-logo {
  height: 20px;
}
.search-item {
  padding: 16px;
}
.search-item:hover {
  cursor: pointer;
}
.right-border {
  border-right: 1px solid #f2f2f2;
}
.search-icon {
  color: #eb5757;
}
.wind-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin: 40px 0px;
}
.stay-item {
  width: 395px;
}
.stay-picture {
  width: 395px;
  height: 269px;
  border-radius: 24px;
  margin-bottom: 10px;
}
.star-icon {
  color: #eb5757;
}
.stay-desc {
  color: #828282;
  display: flex;
  justify-content: space-between;
}
.stay-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.star-icon {
  position: relative;
  top: 4px;
}
.stay-star {
  position: relative;
  bottom: 7px;
  color: #4f4f4f;
  font-weight: 500;
}
.superhost {
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: #4f4f4f;
  font-weight: 700;
  padding: 5px;
  margin-right: 5px;
}
.stay-title {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 50px;
}
.my-footer {
  text-align: center;
  color: #828282;
  padding-bottom: 20px;
}
.title-bar {
  display: flex;
  justify-content: space-between;
}
.number-of-stays {
  position: relative;
  top: 50px;
  right: 50px;
}
@media only screen and (max-width: 720px) {
  .stay-list {
    grid-template-columns: 1fr;
  }
}
.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(79, 79, 79, 0.4);
  display: none;
}
.modal-white {
  height: 460px;
  background: white;
  padding: 30px 90px;
}
.modal-bar {
  display: flex;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.show {
  display: inline;
}
.modal-item {
  width: 33%;
  padding: 15px 35px;
}
.modal-title {
  font-size: 9px;
  font-weight: 800;
}
.modal-border {
  border-right: 1px solid #f2f2f2;
}
.modal-location,
.modal-guests {
  font-size: 14px;
}
.modal-search {
  text-align: center;
  padding: 0;
}
.btn-search {
  background: #eb5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: 100%;
  padding: 0px 30px;
  padding-bottom: 5px;
  border: 0;
  cursor: pointer;
  color: white;
}
.btn-search-icon {
  position: relative;
  top: 5px;
}
